{% extends "base.html" %}
{% block content %}


    <h2>Stawki</h2>
<a type="button"
               class="btn btn-outline-warning"
               href="{% url 'setup:delegationrate-create' %}"
               style="font-size: 13px"
            >
                Nowa Stawka
            </a>


<table class="table table-sm table-hover">
    <thead>
        <tr>
            <td>Stawka delegacji</td>

            <td>Kraj</td>
        </tr>
    </thead>

    <body>
        {% for a in object_list %}

        <tr class="table table-sm table-hover">

            <td><a href="{% url 'setup:delegationrate-details-view' pk=a.pk %}">{{ a.delagation_rate}} PLN</a></td>

            <td><a>     {{ a.country }}</a></td>
        </tr>
    {% endfor %}
    </body>
    </table>
{% endblock %}
