{% extends "base.html" %}
{% block content %}
<body>
<h2>Lista działów</h2>
        <div class="col-3 align-self-start">
            <a type="button"
               class="btn btn-outline-warning"
               href="{% url 'setup:department-create' %}"
               style="font-size: 13px"
            >
                Nowy dział
            </a>
        </div>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <td>Nazwa działu</td>
            <td>Manager</td>
            <td>Profit Center</td>


        </tr>
    </thead>

    {% for d in object_list %}
    <tr class="table table-sm table-hover">

          <td><a href="{% url 'setup:department-details-view' pk=d.pk %}">{{d.name}}</a></td>
            <td></a>  {{d.menager_id}}</a></td>
            <td></a>  {{d.profit_center}}</a></td>
            </tr>
       {% endfor %}

      </body>
</table>

{% endblock %}