{% extends "base.html" %}
{% block content %}

 <h2>Lista działów</h2>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <td>Nazwisko użytkownika</td>
            <td>Menager</td>
        </tr>
    </thead>


<body>
    {% for d in object_list %}
    <tr class="table table-sm table-hover">
    <tr>
          <td><a href="{% url 'setup:division-details-view' pk=d.pk %}">Imię i Nazwisko użytkownika - {{ d.name }}</a></td>
          <td><a>     {{ a.manager }}</a></td>

  {% endfor %}
    </body>
    </table>
{% endblock %}


