{% extends "base.html" %}
{% block content %}

<h2>Lista lokalizacji</h2>
<a type="button"
               class="btn btn-outline-warning"
               href="{% url 'setup:location-create' %}"
               style="font-size: 13px"
            >
                Nowa lokalizacja Profit Center
            </a>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <td>Nazwa</td>
            <td>Profit center</td>
        </tr>
    </thead>
 <body>
    {% for d in object_list %}
         <tr class="table table-sm table-hover">


          <td><a href="{% url 'setup:location-details-view' pk=d.pk %}">    {{ d.name }}</a></td>
           <td><a>     Profit Center -{{d.profit_center}}</a></td>
       </tr>
    {% endfor %}
    </body>
    </table>
{% endblock %}
