{% extends "base.html" %}
{% block content %}
<table class="table table-sm">
    <thead>
        <tr>
            <td>Imię i Nazwisko użytkownika</td>
            <td>Dział</td>
            <td>Menager</td>
        </tr>
    </thead>
        <body>
        {% for a in object_list %}
        <tr class="table table-primary table-striped text-uppercase fw-bold">

            <td><a href="{% url 'setup:user-details-view' pk=a.pk %}">{{ a.first_name }}  {{ a.last_name }}</a></td>
            <td><a>     {{ a.department }}</a></td>
            <td><a>     {{ a.manager }}</a></td>
        </tr>
    {% endfor %}
    </body>
    </table>
{% endblock %}