{% extends "base.html" %}
{% block content %}

    <h2>Lista użytkowników</h2>
        <div class="col-3 align-self-start">
            <a type="button"
               class="btn btn-outline-warning"
               href="{% url 'setup:user-create' %}"
               style="font-size: 13px"
            >
                Nowy użytkownik
            </a>
        </div>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Imię i Nazwisko użytkownika</td>
            <td>Nazwa użytkownika</td>
            <td>Dział</td>
            <td>Menager</td>
            <td>Typ</td>
        </tr>
    </thead>
    <tbody>

        {% for a in object_list %}
        <tr class="table table-sm table-hover">
            <td><p>{{ a.id }}</p></td>
            <td><a href="{% url 'setup:user-details-view' pk=a.pk %}">{{ a.first_name }}  {{ a.last_name }}</a></td>
            <td><a> {{ a.username }}</a></td>
            <td><a> {{ a.department }}</a></td>
            <td><a> {{ a.manager.first_name }} {{ a.manager.last_name }}</a></td>
            <td><p>{{ a.get_employee_level_display }}</p></td>

        </tr>
    {% endfor %}
    </tbody>
    </table>


{% endblock %}
