{% extends "base.html" %}
{% block content %}

    <h2>Lista użytkowników</h2>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <td>Imię i Nazwisko użytkownika</td>
            <td>Dział</td>
            <td>Menager</td>
        </tr>
    </thead>
    <tbody>

        {% for a in object_list %}
        <tr class="table table-sm table-hover">

            <td><a href="{% url 'setup:user-details-view' pk=a.pk %}">{{ a.first_name }}  {{ a.last_name }}</a></td>
            <td><a>     {{ a.department }}</a></td>
            <td><a>     {{ a.manager }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

                <div class="col-3 align-self-start">
            <a type="button"
               class="btn btn-outline-warning"
               href="{% url 'setup:user-create' %}"
               style="font-size: 13px"
            >
                Nowy użytkownik
            </a>
        </div>
{% endblock %}
