{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>


<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>E-Delegacje</title>

	<meta name="description" content="Aplikacja do zarządzania podróżami służbowymi w firmie">
	<meta name="keywords" content="podróże służbowe, delegacje, wyniki">
	<meta name="author" content="Łukasz Szcześniak, Gerard Borowski">

	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}"/>

<style>
	div.picture1 {
   width:100px; /*width of your image*/
   height:100px; /*height of your image*/
   background-image:url("{% static 'img/bt_image.jpg' %}");
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

</style>
  </head>

<body class="bg-light bg-gradient" >

	<header>

  <nav class="navbar navbar-expand-md navbar-light bg-secondary " style="height: 50px">
    <div class="container-fluid" >

      <button class="navbar-toggler"
			  type="button"
			  data-bs-toggle="collapse"
			  data-bs-target="#navbarsExample04"
			  aria-controls="navbarsExample04"
			  aria-expanded="false"
			  aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse bg-secondary text-warning"
		   id="navbarsExample04"
		   style="height: 50px">
        <ul class="navbar-nav me-auto mt-1 mb-1 mb-md-0">
			<li class="nav-item">
			 <a class="navbar-brand bg-light" href="https://www.metro-properties.pl/">
      				<img src="{% static 'img/logo_metro_qtj_2.ico' %}" alt="" width="40" height="40">
					 </a>
			</li>
          <li class="nav-item">
			  <a class="navbar-brand text-light" href="{% url 'e_delegacje:index' %}">E-delegacje</a>
          </li>
			<li class="nav-item">
				<a class="nav-item nav-link text-warning " href="{% url 'e_delegacje:applications-create' %}">Nowy wniosek</a>
			</li>
				<li class="nav-item">
				<a class="nav-item nav-link text-warning " href="{% url 'e_delegacje:applications-list' %}">Lista wniosków</a>
			</li>
			  <li class="nav-item">
			  <a class="nav-item nav-link text-warning " href="/">Akceptacja wniosków</a>
			</li>

		</ul>


			<div class="navbar-nav mt-2 mb-1 mb-md-0 mr-0" >

				<div class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-warning"
				   href="#" id="User_profile_dropdown"
				   data-bs-toggle="dropdown"
				   aria-expanded="false">
					Użytkownik</a>
				  <ul class="dropdown-menu bg-secondary" aria-labelledby="User_profile_dropdown">
				  <li><a class="nav-item nav-link text-warning " href="#">dane użytkownika</a></li>
				  <li><a class="nav-item nav-link text-warning " href="#">login</a></li>
				  <li><a class="nav-item nav-link text-warning " href="#">logout</a></li>
				  <li><a class="nav-item nav-link text-warning " href="#">zmień hasło</a></li>
				  </ul>
				</div>


			  <div class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-warning"
				   href="#" id="Settings_dropdown"
				   data-bs-toggle="dropdown"
				   aria-expanded="false">Ustawienia zaawansowane</a>
				<ul class="dropdown-menu bg-secondary" aria-labelledby="Settings_dropdown">
				  <li><a class="nav-item nav-link text-warning " href="{% url 'setup:user-list-view' %}">
                      Użytkownicy</a></li>
				  <li><hr class="dropdown-divider"></li>
				  <li><a class="nav-item nav-link text-warning " href="{% url 'setup:region-list-view' %}">
                      Regiony</a></li>
                  <li><a class="nav-item nav-link text-warning " href="{% url 'setup:division-list-view' %}">
                      Dywizje</a></li>
                  <li><a class="nav-item nav-link text-warning " href="{% url 'setup:department-list-view' %}">
                      Działy</a></li>
                  <li><a class="nav-item nav-link text-warning " href="{% url 'setup:location-list-view' %}">
                      Lokalizacje</a></li>
				  <li><hr class="dropdown-divider"></li>
				  <li><a class="nav-item nav-link text-warning " href="{% url 'setup:costcenter-list-view' %}">
                      Cost Centers</a></li>
				  <li><a class="nav-item nav-link text-warning " href="{% url 'setup:delegationrate-list-view' %}">
                      Stawki delegacji</a></li>
                    <li><a class="nav-item nav-link text-warning " href="{% url 'setup:mileagetate-list-view' %}">
                      Stawki kilometrówki</a></li>
				  <li><hr class="dropdown-divider"></li>
				  <li>  <a class="nav-item nav-link text-warning " href="/admin/">Admin</a></li>
				</ul>
			  </div>


			</div>
		</li>
      </div>
    </div>
  </nav>

	</header>

<main style="font-size: 12px">
    <div class="container " >
		<div class="row">
		  <div class="jumbotron text-dark ">
<!--			<h1>Witaj w e-delegacjach</h1>-->
		  </div>
		</div>

				{% block content %}    {% endblock %}
			  </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
  </body>

</html>