{% extends "base.html" %}
{% block content %}

    <h2>Wnioski o delegację</h2>


    {% for item in object_list %}
<div class="container">
    <div class="row">
        <div class="col-3">
            Numer wniosku
        </div>
        <div class="col-3">
            Opis
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {{ item.id }}
        </div>
        <div class="col-3">
            {{ item.trip_purpose_text }}
        </div>
        <div class="col-3">
            <a href="{% url 'e_delegacje:application-details' pk=item.pk %}"> Details </a>
        </div>
    </div>

</div>



    {% endfor %}
    <p>Details</p>


{% endblock %}

