{% extends "base.html" %}
{% block content %}

  <h2>Szczegóły wniosku o delegację</h2>
<div class="row" style="font-size: 12px">
  <div class="col-8">
      <br>
      <table class="table table-sm  table-hover">
                <tr>
              <td>Numer Wniosku</td>
              <td>{{ object.id }}</td>
          </tr>
                <tr>
              <td>Kraj</td>
              <td>{{ object.bt_country }}</td>
          </tr>
                <tr>
              <td>Pracownik</td>
              <td>{{ object.target_user }}</td>
          </tr>
                <tr>
              <td>Status Wniosku</td>
              <td>{{ object.get_application_status_display }}</td>
          </tr>
                 <tr>
              <td>Data wniosku</td>
              <td>{{ object.application_date }}</td>
          </tr>
               <tr>
              <td>Cel podróży</td>
              <td>{{ object.trip_purpose_text }}</td>
          </tr>
                <tr>
              <td>Cost center</td>
              <td>{{ object.CostCenter }}</td>
          </tr>
          </tr>
                <tr>
              <td>Rodzaj transportu</td>
              <td>{{ object.get_transport_type_display }}</td>
          </tr>
                    </tr>
                <tr>
              <td>Trasa podrózy</td>
              <td>{{ object.travel_route }}</td>
          </tr>
                    </tr>
                <tr>
              <td>Planowana data wyjazdu</td>
              <td>{{ object.planned_start_date }}</td>
          </tr>
                 <tr>
              <td>Planowana data powrotu</td>
              <td>{{ object.planned_end_date }}</td>
          </tr>
                <tr>
              <td>Zaliczka</td>
              <td>{{ object.advance_payment }} zł.</td>
          </tr>

        </table>
    </div>
  </div>

<div class="row" style="font-size: 12px">
    <div class="col-2">

              <a class="btn btn-outline-danger"
                 href="{% url 'e_delegacje:application-delete' pk=object.pk %}">
                  Usuń wniosek
              </a>

    </div>
</div>

{% endblock %}