{% extends "base.html" %}
{% load static %}
{% block content %}


<main>


<div class="container-fluid">

    {% if application.bt_applications_settlements.settlement_status == 'in_progress' %}

        <h2>Akceptacja rozliczenia delegacji </h2>

    {% else %}
      <h2>Akceptacja wniosku o delegację</h2>
    {% endif %}
        <div class="row">
            <div class="col-4">
              <table class="table table-light " style="font-size: 12px">
                  <tr class="table table-primary table-striped text-uppercase">
                      <td class="fw-bold">Numer Wniosku o delegację</td>
                      <td >{{ application.id }}</td>
                  </tr>

                  <tr class="table table-primary text-uppercase">
                    <td class="fw-bold">Data wniosku:</td>
                    <td>{{ application.application_date.isoformat }}</td>

                  </tr>
              </table>
            </div>
            <div class="col-4">
                <table class="table table-primary text-center table-striped text-uppercase" style="font-size: 12px">
                    <tbody>
                        <tr>
                            <td class="fw-bold" >Cel podróży/Opis:</td>

                        </tr>
                        <tr>
                            <td class="text-wrap fw-bold" >
                                {{ application.trip_purpose_text }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-primary table-striped text-uppercase text-end" style="font-size: 12px">
                    <tbody>
                        <tr>
                            <td class="fw-bold">Status Wniosku</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ application.get_application_status_display }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

          <div class="row">
          <div class="col-11">
                <table class="table table-light" style="font-size: 13px">
                    <tr class="col-11 fw-bold">

                        <td>Pracownik</td>
                        <td>Planowana data wyjazdu</td>
                        <td colspan="2">Planowana data powrotu</td>

                    </tr>
                  <tr class="col-11">
                      <td>{{ application.target_user.first_name }} {{ application.target_user.last_name }}</td>
                      <td>{{ application.planned_start_date.isoformat }}</td>
                      <td colspan="2">{{ application.planned_end_date.isoformat }}</td>


                  </tr>


                        <tr class="fw-bold">

                            <td>Kraj</td>
                            <td>Trasa podrózy</td>
                            <td>Rodzaj transportu</td>
                            <td>Cost center</td>


                  </tr>
                            </tr>
                        <tr>
                            <td>{{ application.bt_country }}</td>
                            <td>{{ application.travel_route }}</td>
                            <td>{{ application.get_transport_type_display }}</td>
                            <td>{{ application.CostCenter }}</td>

                  </tr>

                </table>
            </div>

            </div>

<hr>
{% if application.bt_applications_settlements %}
        <div class="row align-content-between">

            <div class="col-3">
                  <table class="table table-light table-striped" style="font-size: 12px">
                          <tr>
                              <td class="fw-bold">Delegacja zrealizowana?</td>
                              <td>{{ application.bt_applications_settlements.bt_application_info.bt_completed }}</td>
                          </tr>
                          <tr>
                              <td class="fw-bold">Data wyjazdu</td>
                              <td>{{ application.bt_applications_settlements.bt_application_info.bt_start_date }}</td>
                          </tr>
                          <tr>
                              <td class="fw-bold">Godzina wyjazdu</td>
                              <td>{{ application.bt_applications_settlements.bt_application_info.bt_start_time }}</td>
                          </tr>
                          <tr>
                              <td class="fw-bold">Data powrotu</td>
                              <td>{{ application.bt_applications_settlements.bt_application_info.bt_end_date }}</td>
                          </tr>
                          <tr>
                              <td class="fw-bold">Godzina powrotu</td>
                              <td>{{ application.bt_applications_settlements.bt_application_info.bt_end_time }}</td>
                          </tr>
                            <tr>
                              <td class="fw-bold">Kurs rozliczenia</td>
                              <td>
                              {{ application.bt_applications_settlements.bt_application_info.settlement_exchange_rate }}
                              </td>
                          </tr>
{#                          <tr>#}
{#                              <td class="fw-bold">Historia</td>#}
{#                              <td>{{ application.bt_applications_settlements.bt_application_info.settlement_log }}</td>#}
{#                          </tr>#}
                      </table>
            </div>

            <div class="col-3">

                    <div class="row">
                        <h5>Koszty: {{ cost_sum }} zł.</h5>
                    <hr>
                    </div>

                    <table class="table table-light table-striped" style="font-size: 12px">


                            <thead>
                                <tr class="fw-bold table-active">
                                    <th>Opis kosztu</th>
                                    <th>Kwota</th>
                                    <th>Waluta</th>
                                </tr>
                            </thead>

                        {% for cost in application.bt_applications_settlements.bt_application_settlement_costs.all %}
                                <tr>
            <td>{{ cost.bt_cost_description }}</td>
            <td>{{ cost.bt_cost_amount }}</td>
            <td>{{ cost.bt_cost_currency }}</td>
                                </tr>

                            {% endfor %}


                        </table>


                </div>

            <div class="col-3 align-content-end">
                    <div class="row">
                        <h5>Kilometrówka: {{ mileage_cost }} zł.</h5>
                    <hr>
                    </div>
                    <table class="table table-light table-striped" style="font-size: 12px">
                       <thead>
                            <tr class="fw-bold table-active">

                                <td>Data przejazdu</td>
                                <td class="text-end ms-5 text-center">Cel przejazdu</td>
                                <td class="text-center">Liczba kilometrów</td>
                            </tr>
                       </thead>
                       <tbody>
                        {% for trip in application.bt_applications_settlements.bt_application_settlement_mileages.all %}
                            <tr>

                                <td>{{ trip.trip_date }}</td>
                                <td class="text-center">{{ trip.trip_purpose }}</td>
                                <td class="text-center">{{ trip.mileage }}</td>
                            </tr>
                       {% endfor %}
                       </tbody>

                   </table>
            </div>

            <div class="col-3 align-content-end">
                    <div class="row">
                        <h5 class="vIntegerField">Dieta: {{ diet }} zł. </h5>
                    <hr>
                    </div>
                    <table class="table table-light  table-striped" style="font-size: 12px">

                       <tbody>
                        <tr>
                            <td class="fw-bold active">Śniadania</td>
                            <td>
                    {{ application.bt_applications_settlements.bt_application_settlement_feeding.breakfast_quantity }}
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Obiady</td>
                            <td>
                        {{ application.bt_applications_settlements.bt_application_settlement_feeding.dinner_quantity }}
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Kolacje</td>
                            <td>
                        {{ application.bt_applications_settlements.bt_application_settlement_feeding.supper_quantity }}
                            </td>
                        </tr>
                       </tbody>

                   </table>
            </div>

    </div>

{% endif %}

</div>
<hr>
        <div class="row align-content-between">
            <div class="col-3 ">
                <h5>Zaliczka: {{ application.advance_payment }} {{ application.advance_payment_currency }}</h5>
            </div>
            <div class="col-6 text-center">
                {% if settlement_amount > 0 %}
                    <h3>{{ settlement_amount }}</h3>
                {% else %}
                    <h3>{{ settlement_amount }}</h3>
                {% endif %}
            </div>
        {% if application.bt_applications_settlements %}
            <div class="col-3 text-end">
                <h5>Suma kosztów: {{ total_costs }} zł.</h5>
            </div>
        {% endif %}
        </div>
<hr>
        <div class="row align-content-between">
            <div class="col-2 align-self-end">
                <a class="btn btn-outline-secondary d-grid"
                 href="{% url 'e_delegacje:approval-list' %}"
                style="font-size: 12px"
                >
                  powrót
                </a>
            </div>
            <div class="COL-6">

            </div>
    {% if application.bt_applications_settlements %}
            <div class="col-2 align-self-end">
                <a class="btn btn-success d-grid"
                style="font-size: 12px"
                data-bs-toggle="modal"
                data-bs-target="#ApprovalModalPopup"
                >
                  Zaakceptuj
                </a>
            </div>
            <div class="col-2 align-self-end">
                <a class="btn btn-danger d-grid"
                   style="font-size: 12px"
                   data-bs-toggle="modal"
                   data-bs-target="#RejectionModalPopup"
                >
                                  Odrzuć
                </a>


            </div>
    {% else %}
            <div class="col-2 align-self-end">
                <a class="btn btn-success d-grid"
                style="font-size: 12px"
                data-bs-toggle="modal"
                data-bs-target="#ApprovalModalPopup"
                >
                  Zaakceptuj
                </a>
            </div>
            <div class="col-2 align-self-end">

                <a class="btn btn-danger d-grid"
                    style="font-size: 12px"
                    data-bs-toggle="modal"
                    data-bs-target="#RejectionModalPopup"
                >
                  Odrzuć
                </a>
            </div>
    {% endif %}

<div class="modal fade" id="RejectionModalPopup" tabindex="-1" aria-labelledby="RejectionModalPopup" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header ">
            <h5 class="modal-title" id="exampleModalLabel">Odrzucenie</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img src="{% static 'img/rejected-stamp-red1.jpg' %}" alt="" width="450" height="330" >
          <form class="form-control" method="post" >
                {% csrf_token %}

            <table class="table-sm table-borderless" style="font-size: 12px">
                 {{ rejected_form.as_table }}
                </table>
              <input class="btn btn-outline-danger"
               type="submit"
               value="Odrzuć"
               style="font-size: 13px"
            >
          </form>

          </div>

        </div>
     </div>
    </div>
<div class="modal fade" id="ApprovalModalPopup" tabindex="-1" aria-labelledby="ApprovalModalPopup" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ApproveModalLabel">Akceptacja</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img src="{% static 'img/approved-stamp-green.jpg' %}" alt="" width="450" height="330" >
{% if application.bt_applications_settlements %}
              <a class="btn btn-outline-success"
               type="button"
                 href="{% url 'e_delegacje:settlement-approved' pk=application.bt_applications_settlements.id %}"

               style="font-size: 13px"
            >Zaakceptuj
              </a>

{% else %}
               <a class="btn btn-outline-success"
               type="button"
                 href="{% url 'e_delegacje:application-approved' pk=application.id %}"

               style="font-size: 13px"
            >Zaakceptuj
              </a>

{% endif %}
          </div>

        </div>
      </div>
    </div>







</main>
{% endblock %}
