{% extends "base.html" %}
{% block content %}

    <h2>Wnioski o delegację</h2>

<table class="table table-sm  table-hover">

<tbody>
    {% for item in object_list %}
    <tr>
        <td>
        Nr: {{ item.id }}
            </td>
                <td>
       {{ item.trip_purpose_text }}
            </td>
            <td>
                <p>Status: {{ item.get_application_status_display }}</p>
            </td>
                <td>
            <a class="btn btn-outline-secondary"
               href="{% url 'e_delegacje:application-details' pk=item.id %}"
            style="font-size: 12px"
            >
                Szczegóły
            </a>

            </td>

                <td>
                    {% if not item.bt_applications_settlements %}

              <a class="btn btn-outline-secondary"
                 href="{% url 'e_delegacje:settlement-create' pk=item.id %}"
              style="font-size: 12px"
              >

                Rozlicz wniosek
            </a>

                    {% endif %}
            </td>

            <td>
            {% if item.bt_applications_settlements %}


              <a class="btn btn-outline-secondary"
{#                 href="{% url 'e_delegacje:settlement-details' pk=item.bt_applications_settlements.pk %}"#}
                 href="{{ item.bt_applications_settlements.get_absolute_url }}"
              style="font-size: 12px"
              >
                Zobacz rozliczenie wniosku
            </a>

            {% endif %}
                </td>
        </tr>

    {% endfor %}
</tbody>
</table>
    <div class="row">
        <div class="col-1 align-self-end">
            <a type="button"
               class="btn btn-outline-secondary"
               href="{% url 'e_delegacje:index' %}"
               style="font-size: 13px"
            >
                Powrót
            </a>
        </div>

            <div class="col-3 align-self-start">
            <a type="button"
               class="btn btn-outline-warning"
               href="{% url 'e_delegacje:applications-create' %}"
               style="font-size: 13px"
            >
                Nowy wniosek
            </a>
        </div>
    </div>
{% endblock %}

