{% extends "base.html" %}
{% block content %}



<div class="container-fluid">
<h2>Polecenia wyjazdu służbowego</h2>
    <div class="row pt-4">
          {% if object_list %}
        <table class="table table-sm  table-hover">

        <tbody>

                {% for item in object_list %}

            <tr>
                    <td class="col-3 ">
                Nr: {{ item.id }}
                    </td>
                    <td class="col-4 ">
               {{ item.trip_purpose_text }}
                    </td>
                    <td class="col-5 ">
                      <a class="btn btn-outline-secondary d-block"
                         href="{% url 'e_delegacje:approval' pk=item.pk %}"
                      style="font-size: 14px"
                      >
                        Zaakceptuj wniosek
                    </a>

                        </td>
                </tr>

            {% endfor %}
            {% else %}
                <h6 class="offset-1 mt-2 pt-2"> Brak wniosków do akceptacji </h6>
            {% endif %}

        </tbody>
        </table>
    <hr>
    </div>


<h2>Rozliczenia delegacji</h2>

    <div class="row pt-4">
        {% if settlements %}
            <table class="table table-sm  table-hover">

            <tbody>

                {% for settlement in settlements %}
                <tr>
                        <td class="col-3 ">
                    Nr: {{ settlement.id }}
                        </td>
                        <td class="col-4 ">
                   {{ settlement.bt_application_id.trip_purpose_text }}
                        </td>
                        <td class="col-5 ">
                          <a class="btn btn-outline-secondary d-block"
                             href="{% url 'e_delegacje:approval' pk=settlement.bt_application_id.id %}"
                          style="font-size: 14px"
                          >
                            Zweryfikuj rozliczenie
                        </a>

                            </td>
                    </tr>

                {% endfor %}
            </tbody>
            </table>
        {% else %}
            <h6 class="offset-1 mt-2 pt-2"> Brak rozliczeń do akceptacji </h6>
        {% endif %}
    <hr>
    </div>

    <div class="row">
        <div class="col-3 align-self-end">
            <a type="button"
               class="btn btn-outline-secondary d-grid"
               href="{% url 'e_delegacje:index' %}"
               style="font-size: 13px"
            >
                Powrót
            </a>
        </div>
    </div>
</div>



{% endblock %}

