{% extends "base.html" %}
{% block content %}

<div class="container-fluid" >
<hr>
        <div class="row">
            <div class="col-4">
              <table class="table table-light " style="font-size: 12px">
                  <tr class="table table-primary table-striped text-uppercase">
                      <td class="fw-bold">Numer Wniosku o delegację</td>
                      <td >{{ object.bt_application_id.id }}</td>
                  </tr>

                  <tr class="table table-primary text-uppercase">
                    <td class="fw-bold">Data wniosku:</td>
                    <td>{{ object.bt_application_id.application_date }}</td>

                  </tr>
              </table>
            </div>
            <div class="col-4">
                <table class="table table-primary text-center table-striped text-uppercase" style="font-size: 12px">
                    <tbody>
                        <tr>
                            <td class="fw-bold" >Cel podróży/Opis:</td>

                        </tr>
                        <tr>
                            <td class="text-wrap fw-bold" >{{ object.bt_application_id.trip_purpose_text }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-primary table-striped text-uppercase text-end" style="font-size: 12px">
                    <tbody>
                        <tr>
                            <td class="fw-bold">Status Wniosku</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ object.bt_application_id.get_application_status_display }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
          <div class="col-9">
                <table class="table table-light offset-2" style="font-size: 13px">
                    <tr class="fw-bold">

                        <td>Kraj</td>
                        <td>Pracownik</td>
                        <td colspan="2">Cost center</td>

                    </tr>
                  <tr>
                      <td>{{ object.bt_application_id.bt_country }}</td>
                      <td>{{ object.bt_application_id.target_user }}</td>
                      <td colspan="2">{{ object.bt_application_id.CostCenter }}</td>

                  </tr>


                        <tr class="fw-bold">
                            <td>Rodzaj transportu</td>
                            <td>Trasa podrózy</td>
                            <td>Planowana data wyjazdu</td>
                            <td>Planowana data powrotu</td>
                  </tr>
                            </tr>
                        <tr>
                            <td>{{ object.bt_application_id.get_transport_type_display }}</td>
                            <td>{{ object.bt_application_id.travel_route }}</td>
                            <td>{{ object.bt_application_id.planned_start_date }}</td>
                            <td>{{ object.bt_application_id.planned_end_date }}</td>

                  </tr>

                </table>
            </div>

            </div>
<hr>
        <div class="row align-content-between">

            <div class="col-3">

                {% if object.bt_application_info %}


                  <table class="table table-light table-striped" style="font-size: 12px">
                          <tr>
                              <td class="fw-bold">Delegacja zrealizowana?</td>
                              <td>{{ object.bt_application_info.bt_completed }}</td>
                          </tr>
                          <tr>
                              <td class="fw-bold">Data wyjazdu</td>
                              <td>{{ object.bt_application_info.bt_start_date }}</td>
                          </tr>
                          <tr>
                              <td class="fw-bold">Godzina wyjazdu</td>
                              <td>{{ object.bt_application_info.bt_start_time }}</td>
                          </tr>
                          <tr>
                              <td class="fw-bold">Data powrotu</td>
                              <td>{{ object.bt_application_info.bt_end_date }}</td>
                          </tr>
                          <tr>
                              <td class="fw-bold">Godzina powrotu</td>
                              <td>{{ object.bt_application_info.bt_end_time }}</td>
                          </tr>
                            <tr>
                              <td class="fw-bold">Kurs rozliczenia</td>
                              <td>{{ object.bt_application_info.settlement_exchange_rate }}</td>
                          </tr>
{#                        <tr>#}
{#                              <td class="fw-bold">Historia</td>#}
{#                              <td>{{ object.bt_application_info.settlement_log }}</td>#}
{#                          </tr>  #}
                      </table>
                    {% if object.settlement_status in 'saved rejected' %}
                  <a class="btn btn-outline-warning d-grid"
                     href="{% url 'e_delegacje:settlement-info-update' pk=object.id %}"
                     style="font-size: 12px"
                  >
                      Edytuj informacje
                  </a>
                     {% endif %}
                {% else %}

                  <a class="btn btn-outline-warning d-grid"
                     href="{% url 'e_delegacje:settlement-info-create' pk=object.id %}"
                     style="font-size: 12px"
                  >
                      Dodaj informacje
                  </a>

                {% endif %}

            </div>
            {% if object.bt_application_info %}
            <div class="col-3">



                    <div class="row">
                        <h5>Koszty: {{ cost_sum }} zł.</h5>
                    <hr>
                    </div>
                {% if object.bt_application_settlement_costs.exists %}
                    <table class="table table-light table-striped" style="font-size: 12px">


                            <thead>
                                <tr class="fw-bold table-active">
                                    <th>Opis kosztu</th>
                                    <th>Kwota</th>
                                    <th>Waluta</th>
                                </tr>
                            </thead>
                            <body>



                            {% for cost in object.bt_application_settlement_costs.all %}
                                <tr>
                                    <td>{{ cost.bt_cost_description }}</td>
                                    <td>{{ cost.bt_cost_amount }}</td>
                                    <td>{{ cost.bt_cost_currency }}</td>
                                </tr>

                            {% endfor %}

                            </body>
                        </table>
                    {% if object.settlement_status in 'saved rejected' %}
                    <a class="btn btn-outline-warning d-grid align-content-end"
                     type="button"
                     href="{% url 'e_delegacje:settlement-cost-create' pk=object.id %}"
                    style="font-size: 12px"
                    >
                      Edytuj koszty
                    </a>
                    {% endif %}
                {% else %}
                    {% if object.settlement_status in 'saved rejected' %}
                    <a class="btn btn-outline-warning d-grid"
                     type="button"
                     href="{% url 'e_delegacje:settlement-cost-create' pk=object.id %}"
                    style="font-size: 12px"
                    >
                      Dodaj koszty
                    </a>
                    {% endif %}
                {% endif %}

                </div>

            <div class="col-3 align-content-end">


                    <div class="row">
                        <h5>Kilometrówka: {{ mileage_cost }} zł.</h5>
                    <hr>
                    </div>
                {% if object.bt_application_settlement_mileages.exists %}
                    <table class="table table-light table-striped" style="font-size: 12px">
                       <thead>
                            <tr class="fw-bold table-active">

                                <td>Data przejazdu</td>
                                <td class="text-end ms-5 text-center">Cel przejazdu</td>
                                <td class="text-center">Liczba kilometrów</td>
                            </tr>
                       </thead>
                       <tbody>
                        {% for trip in object.bt_application_settlement_mileages.all %}
                            <tr>

                                <td>{{ trip.trip_date }}</td>
                                <td class="text-center">{{ trip.trip_purpose }}</td>
                                <td class="text-center">{{ trip.mileage }}</td>
                            </tr>
                       {% endfor %}
                       </tbody>

                   </table>
                    {% if object.settlement_status in 'saved rejected' %}
                    <a class="btn btn-outline-warning d-grid align-self-end"
                     href="{% url 'e_delegacje:settlement-mileage-create' pk=object.id %}"
                    style="font-size: 12px"
                    >
                      Edytuj Kilometrówkę
                    </a>
                    {% endif %}
                {% else %}
                    {% if object.settlement_status in 'saved rejected' %}
                    <a class="btn btn-outline-warning d-grid align-self-end"
                       href="{% url 'e_delegacje:settlement-mileage-create' pk=object.id %}"
                       style="font-size: 12px"
                    >
                        Dodaj Kilometrówkę
                    </a>
                    {% endif %}
                {% endif %}

            </div>

            <div class="col-3 align-content-end">
                    <div class="row">
                        <h5 class="vIntegerField">
                            Dieta: {{ diet }} zł.
                        </h5>
                    <hr>
                    </div>
                {% if object.bt_application_settlement_feeding %}

                    <table class="table table-light  table-striped" style="font-size: 12px">

                       <tbody>
                        <tr>
                            <td class="fw-bold active">Śniadania</td>
                            <td>{{ object.bt_application_settlement_feeding.breakfast_quantity }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Obiady</td>
                            <td>{{ object.bt_application_settlement_feeding.dinner_quantity }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Kolacje</td>
                            <td>{{ object.bt_application_settlement_feeding.supper_quantity }}</td>
                        </tr>
                       </tbody>

                   </table>
                    {% if object.settlement_status in 'saved rejected' %}
                    <a class="btn btn-outline-warning d-grid"
                     href="{% url 'e_delegacje:settlement-feeding-update' pk=object.id %}"
                    style="font-size: 12px"
                    >
                      Edytuj wyżywienie
                    </a>
                    {% endif %}
                {% else %}
                    {% if object.settlement_status in 'saved rejected' %}
                    <a class="btn btn-outline-warning d-grid"
                     href="{% url 'e_delegacje:settlement-feeding-create' pk=object.id %}"
                    style="font-size: 12px"
                    >
                      Dodaj wyżywienie
                    </a>
                    {% endif %}
                {% endif %}

            </div>
            {% endif %}
    </div>
<hr>
        <div class="row align-content-between">
            <div class="col-3 ">
                <h5>Zaliczka: {{ advance }} {{ object.bt_application_id.advance_payment_currency }}</h5>
            </div>
            <div class="col-6 text-center">
                {% if settlement_amount > 0 %}
                    <h3>{{ settlement_amount }}</h3>
                {% else %}
                    <h3>{{ settlement_amount }}</h3>
                {% endif %}
            </div>
            <div class="col-3 text-end">
                <h5>Suma kosztów: {{ total_costs }} zł.</h5>
            </div>

        </div>

<hr>
</div>
<hr>
        <div class="row">
            <div class="col-2 align-self-end">
                <a class="btn btn-outline-secondary d-grid"
                 href="{% url 'e_delegacje:applications-list' %}"
                style="font-size: 12px"
                >
                  powrót
                </a>
            </div>


            <div class="col-2 align-self-end">
        {% if object.bt_application_info %}
            {% if object.bt_application_id.bt_applications_settlements.settlement_status == 'saved' %}
                <a class="btn btn-outline-success d-grid"
                 href="{% url 'e_delegacje:settlement-send' pk=object.id %}"
                style="font-size: 12px"
                >
                    Wyślij do akceptacji
                </a>
            {% elif object.bt_application_id.bt_applications_settlements.settlement_status == 'rejected' %}
                <a class="btn btn-outline-success d-grid"
                 href="{% url 'e_delegacje:settlement-send' pk=object.id %}"
                style="font-size: 12px"
                >
                    Wyślij do akceptacji
                </a>
            {% else %}
                <a class="btn btn-light d-grid text-light"
                style="font-size: 12px"
                >
                    Wyślij do akceptacji
                </a>
            {% endif %}
        {% else %}
                <a class="btn btn-light d-grid text-light"
                style="font-size: 12px"
                >
                    Wyślij do akceptacji
                </a>
        {% endif %}
            </div>

        </div>
</div>
</main>


{% endblock content %}