{% extends "base.html" %}
{% block content %}
<h3>Nowy wniosek</h3>
<div class="col-7 align-items-start">

    <form class="form-control" method="post" >
        {% csrf_token %}
        <div class="row">
            <table class="table table-sm table-light " style="font-size: 12px">
                 {{ form.as_table }}
                </table>

            </div>
            <div class="row">
                <div class="col-3 align-self-end">
                    <input class="btn btn-outline-success"
                           type="submit"
                           value="Zapisz i wyślij do akceptacji"
                           style="font-size: 13px"
                        >
                </div>
                <div class="col-1"></div>
                <div class="col-3 align-self-end">
                    <a type="button"
                       class="btn btn-outline-secondary"
                       href="{% url 'e_delegacje:index' %}"
                       style="font-size: 13px"
                    >
                        Powrót
                    </a>
                </div>
        </div>

    </form>
</div>

<script>
  let today = new Date();
  let date = today.getFullYear()+'.'+(today.getMonth()+1)+'.'+today.getDate();
  let hour = today.getHours()+":"+today.getMinutes()+":"+today.getSeconds();
  let current_datetime = date+" "+hour;
  document.getElementById("id_current_datetime").value = current_datetime;
</script>
  {% endblock %}

