{% extends "base.html" %}
{% block content %}
<h3>Nowy wniosek</h3>
<div class="col-8 align-items-start">
    <form class="form-control" method="post" >
        {% csrf_token %}
            <table class="table table-sm table-light " style="font-size: 12px">
                 {{ form.as_table }}
                </table>
            <input name="current_datetime" id="current_datetime" value="" hidden>

            <input class="btn-outline-light text-dark "
                   type="submit"
                   value="Zapisz i wyślij do akceptacji"
                   style="font-size: 13px"
            >

    </form>
</div>

<script>
  var today = new Date();
  var date = today.getFullYear()+'.'+(today.getMonth()+1)+'.'+today.getDate();
  var hour = today.getHours()+":"+today.getMinutes()+":"+today.getSeconds();
  var current_datetime = date+" "+hour;
  document.getElementById("current_datetime").value = current_datetime;
  console.log(date);
  console.log(hour);
  console.log(current_datetime);
  console.log(today);
</script>
  {% endblock %}

