{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
        <div class="col-3 ">
            <ul>

                  <li><h4>
                <a class="nav-item nav-link text-secondary "
                   href="{% url 'e_delegacje:applications-create' %}">Nowy wniosek</a>

                </h4></li>
                <li><h4>
                    <a class="nav-item nav-link text-secondary "
                       href="{% url 'e_delegacje:applications-list' %}">
                        Lista wniosków</a></h4></li>


            </ul>
        </div>
        <div class="col-1" >
            <img src="{% static 'img/bt_image.jpg' %}" alt="" width="700" height="400" >

          </div>

</div>
  {% endblock %}
