{% extends "base.html" %}
{% block content %}
{% load static %}
  <h2>Rozliczenie wniosku o delegację - kilometrówka</h2>
    <h5>Wniosek o delegację nr: {{ settlement.id }}</h5>

<div class="container-fluid pt-3">

    <div class="row align-content-between">

        <div class="col-5 align-items-start">
            <form class="form-control bg-light pt-3 pb-3" method="post">
            {% csrf_token %}

                <table class="table table-responsive-sm table-light">
                    {{ form.as_table }}
                </table>

            <div class="row">
            <div class="col-3 align-self-end">
                <input class="btn btn-outline-success" type="submit" value="Dodaj">
            </div>
            <div class="col-3 align-self-end">
                <a type="button"
                   class="btn btn-outline-secondary"
                   href="{% url 'e_delegacje:settlement-details' pk=settlement.pk %}"
                >
                    Powrót
                </a>
        </div>
        </div>
        </form>

    </div>

        <div class="col-1">

    </div>

        <div class="col-6 align-items-start">
        {% if trip_list %}

                <table class="table table-sm">
                    <thead>
                        <tr class="table table-primary table-striped text-uppercase fw-bold text-center">
                            <td>Trasa przejazdu</td>
                            <td>Data przejazdu</td>
                            <td class="text-end ms-5 text-center">Cel przejazdu</td>
                            <td class="text-center">Liczba kilometrów</td>
                            <td >Usuń</td>
                        </tr>
                    </thead>
                    <body>
                    {% for trip in trip_list %}
                        <tr>
                            <td>{{ trip.trip_description }}</td>
                            <td>{{ trip.trip_date }}</td>
                            <td class="text-center">{{ trip.trip_purpose }}</td>
                            <td class="text-center">{{ trip.mileage }}</td>
                            <td class="pt-2">
                                <form action="{% url 'e_delegacje:settlement-mileage-delete' pk=trip.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn bi-trash-fill btn-outline-danger" ></button>
                                </form>
                            </td>
                        </tr>

                    {% endfor %}
                    </body>
                </table>
        {% endif %}
        </div>

    </div>

</div>

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

  {% endblock %}

