{% extends "base.html" %}
{% block content %}

  <h2>Rozliczenie wniosku o delegację - kilometrówka</h2>
    <h5>Wniosek o delegację nr: {{ settlement.id }}</h5>


<div class="container-fluid pt-3">
    <hr>
    <div class="row">
        <div class="col-4">
            <h6>Wyjazd - data:  </h6><h6 class="date">{{ settlement.bt_application_info.bt_start_date }},
                godzina: {{ settlement.bt_application_info.bt_start_time }}</h6>
            <h6>Powrót - data:  {{ settlement.bt_application_info.bt_end_date }},
                godzina: {{ settlement.bt_application_info.bt_end_time }}</h6>
        </div>
        <div class="col-4">
            <h6 id="country">Kraj: {{ settlement.bt_application_id.bt_country }}</h6>
            <h6 id="diet">Dieta: {{ diet }} {{ settlement.bt_application_id.advance_payment_currency }}</h6>
        </div>

    </div>
    <hr>

    <div class="row align-content-between">

        <div class="col-5 align-items-start">
            <form class="form-control bg-light pt-3 pb-3" method="post">
            {% csrf_token %}

                <table class="table table-responsive-sm table-light">

                    {{ form.as_table }}
                </table>

            <div class="row" id="submit_row">
            <div class="col-3 align-self-end">
                <input class="btn btn-outline-success"
                       type="submit"
                       value="Zapisz"
                       onclick="days_on_change()">
            </div>
                <div class="text-danger" id="message"><p>

                </p></div>
{#            <div class="col-3 align-self-end">#}
{#                <a type="button"#}
{#                   class="btn btn-outline-secondary"#}
{#                   href="{% url 'e_delegacje:settlement-details' pk=settlement.pk %}"#}
{#                >#}
{#                    Powrót#}
{#                </a>#}
{#        </div>#}
        </div>
        </form>

    </div>

    </div>

</div>

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


    <script>
    let diet = Number("{{ diet }}");
    let diet_amount = Number("{{ diet_amount }}");
    let diet_rate = Number("{{ diet_rate }}");
    let country = "{{ settlement.bt_application_id.bt_country }}";
    let pl_breakfast_rate = 0.25;
    let pl_dinner_rate = 0.50;
    let pl_supper_rate = 0.25;
    let frn_breakfast_rate = 0.15;
    let frn_dinner_rate = 0.30;
    let frn_supper_rate = 0.30;

    console.log('dieta ' + diet.toString());
    console.log('dieta_amount ' + diet_amount.toString());
    console.log('diet_rate ' + diet_rate.toString());

    let breakfasts_number = document.getElementById('id_bt_application_settlement_feeding-0-breakfast_quantity').
    getAttribute('value');
    let dinners_number = document.getElementById('id_bt_application_settlement_feeding-0-dinner_quantity').
    getAttribute('value');
    let suppers_number = document.getElementById('id_bt_application_settlement_feeding-0-supper_quantity').
    getAttribute('value');
    window.onload({

    }
    function get_onchange_meals_correction() {
        let diet_correction = 0;
        if (country.toLowerCase() === 'polska') {
            diet_correction = breakfasts_number * pl_breakfast_rate * diet_rate + dinners_number * pl_dinner_rate *
                diet_rate + suppers_number * pl_supper_rate * diet_rate;
        }
        else {
            diet_correction = breakfasts_number * frn_breakfast_rate * diet_rate + dinners_number * frn_dinner_rate *
                diet_rate + suppers_number * frn_supper_rate * diet_rate;
        }
        console.log("korekta diety " + diet_correction);
        return diet_correction
    };
    get_onchange_meals_correction()


    </script>
  {% endblock %}

