{% extends "base.html" %}
{% block content %}

  <h2>Rozliczenie wniosku o delegację - informacje ogólne</h2>


<div class="col-8 align-items-start">
    <form class="form-control" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <table class="table table-responsive-sm table-light bg-light">
                 {{ form.as_table }}
                </table>


                <div class="row">
            <div class="col-1 align-self-end">
                <input class="btn btn-outline-secondary" type="submit" value="Zapisz">
            </div>

        </div>
    </form>
</div>


<script>
  let today = new Date();
  let date = today.getFullYear()+'.'+(today.getMonth()+1)+'.'+today.getDate();
  let hour = today.getHours()+":"+today.getMinutes()+":"+today.getSeconds();
  let current_datetime = date+" "+hour;
  document.getElementById("id_current_datetime").value = current_datetime;
</script>


  {% endblock %}

