{% extends "base.html" %}
{% block content %}

  <h2>Rozliczenie wniosku o delegację - kilometrówka</h2>
    <h5>Wniosek o delegację nr: {{ settlement.id }}</h5>

<div class="container-fluid pt-3">

    <div class="row align-content-between">

        <div class="col-5 align-items-start">
            <form class="form-control bg-light pt-3 pb-3" method="post">
            {% csrf_token %}

                <table class="table table-striped table-light">
                    {{ form.as_table }}
                </table>

            <div class="row">
            <div class="col-3 align-self-end">
                <input class="btn btn-outline-secondary" type="submit" value="Dodaj">
            </div>
            <div class="col-3 align-self-end">
                <a type="button"
                   class="btn btn-outline-secondary"
                   href="{% url 'e_delegacje:settlement-details' pk=settlement.pk %}"
                >
                    Powrót
                </a>
        </div>
        </div>
        </form>

    </div>

        <div class="col-2">

    </div>

        <div class="col-5 align-items-start">

                <table class="table table-sm">
                    <thead>
                        <tr class="table table-primary table-striped text-uppercase fw-bold">
                            <td>opis kosztu</td>
                            <td>kategoria</td>
                            <td class="text-end ms-5">kwota</td>
                            <td class="text-center">waluta</td>
                        </tr>
                    </thead>
                    <body>
                    {% for cost in cost_list %}
                        <tr>
                            <td>{{ cost.bt_cost_description }}</td>
                            <td>{{ cost.get_bt_cost_category_display }}</td>
                            <td class="text-end ms-5">{{ cost.bt_cost_amount }}</td>
                            <td class="text-center">{{ cost.bt_cost_currency }}</td>
                        </tr>

                    {% endfor %}
                    </body>
                </table>
        </div>

    </div>

</div>

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

  {% endblock %}

