{% extends "base.html" %}
{% block content %}

  <h2>Rozliczenie wniosku o delegację - koszty</h2>
    <h5>Wniosek o delegację nr: {{ settlement.id }}</h5>

<div class="container-fluid pt-3">
    <div class="row align-content-between">
        <div class="col-5 align-items-start">
            <form class="form-control bg-light pt-3 pb-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                    <div class="col-auto">
                        <input class="form-control"
                               name="bt_cost_description"
                               maxlength="120"
                               id="id_bt_cost_description"
                               placeholder={{ form.bt_cost_description.label }}
                        >
                    </div>
            </div>

                    <div class="mb-3 align-content-stretch">

                       <select name="bt_cost_category" id="bt_cost_category" class="form-select">
                           <option selected>{{ form.bt_cost_category.label }}</option>
                           {% for cost_category in form.bt_cost_category %}
                               {{ cost_category }}
                           {% endfor %}
                       </select>
                    </div>


                    <div class="row mb-3">
                        <div class=" col-7">
                            <label >
                                 {{ form.bt_cost_document_date.label }}
                            </label></div>
                        <div class="col-auto">

                        {{ form.bt_cost_document_date }}</div>

                        </div>

                    <div class="mb-3">
                        <div class="input-group mb-3">
                            <div class="form-control">{{ form.bt_cost_VAT_rate.label }}</div>

                        <select name="bt_cost_VAT_rate" id="bt_cost_VAT_rate" class="form-select">
                            <option selected>Wybierz</option>

                            {% for VAT_rate in form.bt_cost_VAT_rate %}
                                {{ VAT_rate  }}
                           {% endfor %}
                        </select>
                        </div>
                    </div>

                    <div class="input-group mb-3 ">
                        <input type="number"
                               class="form-control"
                               name="bt_cost_amount"
                               step="0.01"
                               required
                               id="id_bt_cost_amount"
                               placeholder="Kwota Brutto"
                        >
                    <select name="bt_cost_currency" id="bt_cost_currency" class="form-select">
                            <option selected>Waluta</option>
                    {% for currency in form.bt_cost_currency %}
                        {{ currency  }}
                    {% endfor %}
                    </select>



                    </div>
                    <div class="col-auto py-2">

                    <input type="file"
                           name="attachment"
                           required
                           id="formFileMultiple"
                           multiple
                           class="form-control text-secondary">



                    </div>


        <div class="row pt-4">
            <div class="col-4">
                <input class="btn btn-outline-success" type="submit" value="Dodaj koszt">
            </div>
            <div class="col-1">
                <a type="button"
                   class="btn btn-outline-secondary"
                   href="{% url 'e_delegacje:settlement-details' pk=settlement.pk %}"
                >
                    Powrót
                </a>
        </div>
        </div>
        </form>

    </div>

    <div class="col-1">

    </div>
            <div class="col-6 align-items-start">
            {% if cost_list %}
                <table class="table table-sm">
                    <thead>
                        <tr class="table table-primary table-striped text-uppercase fw-bold">
                            <td>opis kosztu</td>
                            <td>kategoria</td>
                            <td class="text-end ms-5">kwota</td>
                            <td class="text-center">waluta</td>
                            <td >Usuń</td>
                        </tr>
                    </thead>
                    <body>
                    {% for cost in cost_list %}
                        <tr>
                            <td>{{ cost.bt_cost_description }}</td>
                            <td>{{ cost.get_bt_cost_category_display }}</td>
                            <td class="text-end ms-5">{{ cost.bt_cost_amount|floatformat:2 }}</td>
                            <td class="text-center">{{ cost.bt_cost_currency }}</td>
                            <td class="pt-2">
                                <form action="{% url 'e_delegacje:settlement-cost-delete' pk=cost.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn bi-trash-fill btn-outline-danger" ></button>
                                </form>
                            </td>
                        </tr>

                    {% endfor %}
                    </body>
                </table>
            {% endif %}
        </div>
    </div>



</div>

    {% if form.errors %}
    {% for field in form %}

        {% for error in field.errors %}
            <div class="alert alert-danger">
                <p>{{ field }}</p>
                <strong>{{ error|escape }}</strong>

            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

  {% endblock %}

