{% extends "base.html" %}
{% block content %}

  <h2>Rozliczenie wniosku o delegację - informacje ogólne</h2>


<div class="col-8 align-items-start">
    <form class="form-control" method="post">
        {% csrf_token %}
            <table class="table table-responsive-sm table-light bg-light">
                 {{ form.as_table }}
                </table>


                <div class="row">
            <div class="col-1 align-self-end">
                <input class="btn btn-outline-secondary" type="submit" value="Zapisz">
            </div>
            <div class="col-1 align-self-end">
                <a type="button"
                   class="btn btn-outline-secondary"
                   href="{% url 'e_delegacje:settlement-details' pk=settlement.pk %}"
                >
                    Powrót
                </a>
        </div>
        </div>
    </form>
</div>



  {% endblock %}

